body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    width: 400px;
    
}

input {
    display: block;
    margin-bottom: 10px;;
}

input:invalid {
    border: 2px solid red;
}
input:valid {
     border: 2px solid green;
}

select {
    display: block;
}

textarea {
    display: block;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}


nav {
    text-align: center;
    margin: 1%, 0 1%, 0;
    padding: 4% 0 2% 0;
    justify-content: center;
    display: flex;
    border-width: 1;
  }

.global-nav a {
    background-color:darkblue;
    border-radius: 10% 10% 10% 10%;
    border-style: solid;
    color: white;
    margin-right: 5px;
    font-size: medium;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-width: 1;
}
.main-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
